{% extends 'tvtrail/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}

    
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
                <link rel="stylesheet" href="{% static 'css/loginfinal.css' %}" type="text/css"> </head>
    
    <body class="bg-dark">
        
        <div class=" bg-dark my-5 py-5">
            <div class="container bg-primary">
                <div class="row">
                    <div class="bg-primary col-md-6">
                        <form class=""form-signin" role="form" method="POST" action="."">
                            {% csrf_token %}
                            <div class="text-centre text-white"><label class="">Login</label>
                                <div class="form-group text-left bg-primary"><label class=""></label><label for="inputPassword" class="sr-only">Password</label>
                                    <input type="text" id="id_username" name="username" class="bg-primary border border-secondary form-control text-white text-left" placeholder="Username" required autofocus> </div>
                                <div class="form-group "> <label for="inputPassword" class="sr-only">Password</label>
                                    <input type="password" id="id_password" name="password" class="form-control bg-primary border border-secondary text-white text-left" placeholder="Password" required> </div>
                                <button type="submit" class="btn btn-primary" value="Submit">Login</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 bg-primary">
                        <form class="">
                            <div class="text-centre text-white"><label class="">Register</label>
                                <div class="form-group"> <label>Username</label>
                                    <input type="text" class="form-control bg-primary text-white border border-secondary text-left"> </div>
                                <div class="form-group"> <label>Password</label>
                                    <input type="password" class="form-control bg-primary text-white text-left border border-secondary"> </div>
                                <div class="form-group"> <label>Email</label>
                                    <input type="email" class="form-control bg-primary text-white text-left border border-secondary"> </div>
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            </div>
        </div>
    </body>
    
</html>
{% endblock %}
