<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>
            TV Trail - 
            {% block title_block %}
                Main
            {% endblock %}
        </title>
    </head>

    <body>
        <!-- Page specific content -->
        <div>
            <h1>
                TV Trail
            </h1>
        </div>
        

        <div>
            {% block body_block %}
                 Default content for "body_block"
            {% endblock %}
        </div>
        <hr/>
        <div>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </div>
    </body>
</html>