{% extends "tvtrail/base.html" %}
{% load staticfiles %}

{% block title_block %}
    Edit Watchlist
{% endblock %}

{% block body_block %}

<script type="text/javascript">
    setTimeout(function() {
        window.location.href = "{% url 'show_tvseries' show.show_slug %}";
    }, 2000);
</script>

{% if show %}
    {% if set_watched == True %}

            <h3 class="text-left text-white">You have watched <strong>{{ episodes.episode_title }}</strong> from <strong>{{ show.show_name }}</strong></h1>
            
        
    {% else %}
        <h3 class="text-left text-white">You have unwatched <strong>{{ episodes.episode_title }}</strong> from <strong>{{ show.show_name }}</strong></h1>
            

    {% endif %}
{% else %}
        <h3 class="text-left text-white"><strong>The specified show does not exist in our database.</strong></h1>
    
    
{% endif %}
{% endblock %}
