{% extends 'tvtrail/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ show.show_name }} - {{ episodes.episode_title }}
{% endblock %}

{% block body_block %}
    <h4><a href="{% url 'show_tvseries' show.show_slug %}">{{ show.show_name }}</a></h4>
    <strong>Season: {{ episodes.season_num }}</strong>
    <p>Episode: {{ episodes.episode_num }}</p>

    <h2>
        {{ episodes.episode_title }} <br/>
    </h2>
    {% if ep_status.watched != None %}
        Watched: {{ ep_status.watched }} <br/>
    {% endif %}

    {% if ep_status.watched == True %}
        <a href="{% url 'episode_watch' show.show_slug episodes.season_num episodes.episode_num %}">Unwatch</a> <br/>
    {% else %}
        <a href="{% url 'episode_watch' show.show_slug episodes.season_num episodes.episode_num %}">Watch</a> <br/>
    {% endif %}

    Your Rating: {{ ep_status.rating }} <br/>
    Average Rating: {{ average }} <br/>

    Runtime: {{ episodes.runtime }} mins. <br/>

    <p>
        <strong>Synopsis</strong> <br/>
        {{ episodes.synopsis }}
    </p>
{% endblock %}