{% extends 'tvtrail/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Explore
{% endblock %}

{% block body_block %}
    <h2>
        Explore Alphabetically
    </h2>
    <a href="{% url 'genres' %}"><h3>Genres</h3></a> <br/>
    <a href="{% url 'explore_alphabet' %}"><h3>Alphabetical</h3></a> <br/>

    <div>
        <form action="/tvtrail/search/" method="get">
            <input type="text" name="q">
            <input type="submit" value="Search">
        </form>
    </div>

    <ul>
        {% for alpha in alphabet_list %}
            <li>
                <a href="{% url 'explore_alpha' alpha %}">{{ alpha }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}