{% extends 'tvtrail/base.html' %}
{% load staticfiles %}

    {% block title_block %}
        Index
    {% endblock %}

    {% block body_block %}
        <h2>
            Index
        </h2>

        <div>
            {% if upcoming %}
                <h3>
                    Upcoming Episodes:
                </h3>
                <ul>
                    {% for episode in upcoming %}
                        <li>
                            <a href="{% url 'show_tvseries' ep_show|get_item:episode %}">{{ episode.show_id }}</a> <br/>
                            Season: {{ episode.season_num}} Episode: {{ episode.episode_num }}<br/>
                            <a href="{% url 'show_episode' ep_show|get_item:episode episode.season_num episode.episode_num %}">{{ episode.episode_title }}</a><br/>
                            <a href="{% url 'episode_watch' ep_show|get_item:episode episode.season_num episode.episode_num %}">Mark Watched</a> <br/>
                        </li>
                        <br/>
                    {% endfor %}
                </ul>
                
            {% else %}
                No upcoming episodes.
            {% endif %}
        </div>


        <div>
            <h3>
                Most Followed Shows:
            </h3>
            {% if popular_five != None %}
                {% for popshow in popular_five %}
                    <li>
                        <a href="{% url 'show_tvseries' popshow.show_slug %}">{{ popshow.show_name }}</a>
                    </li>
                {% endfor %}
            {% else %}
                No Popular Shows.
            {% endif %}
        </div>
    {% endblock %}