{% extends 'tvtrail/base.html' %}
{% load staticfiles %}
{% block title %}
    {{ selecteduser.username }} Profile
{% endblock %}

{% block body_block %}
    <h3>{{selecteduser.username}}</h3>
    <h2>{{userprofile.first_name}} {{userprofile.last_name}}</h2>
    {% if userprofile.picture %}
        <img src="{{ MEDIA_URL }}{{ userprofile.picture }}"
            width="300"
            height="300"
            alt="{{selecteduser.username}}" />
        <br/>
    {% else %}
        <img src="{% static "images/RandomUserImage.jpg" %}" 
        alt="Profile Picture" 
        width="300"
        height="300"/>
        <br/>
    {% endif %}
    <div>
        <h3>Followed TV Shows:</h3>
            {% for series in userprofile.watchlist.all %}
                <li><a href="{% url 'show_tvseries' series.show_slug %}">{{ series }}</a></li>
            {% endfor %}
    </div>
    <div id="edit_profile"></div>
{% endblock %}