{% extends 'tvtrail/base.html' %}
{% load staticfiles %}
{% block title %}
    {{ selecteduser.username }} Profile
{% endblock %}

{% block body_block %}
    <h1>{{selecteduser.username}}</h1>
    <img src="{{ MEDIA_URL }}{{ userprofile.picture }}"
        width="300"
        height="300"
        alt="{{selecteduser.username}}" />
    <br/>
    <div>
        <h3>Followed TV Shows:</h3>
            {% for series in userprofile.watchlist.all %}
                <li><a href="{% url 'show_tvseries' series.show_slug %}">{{ series }}</a></li>
            {% endfor %}
    </div>
    <div id="edit_profile"></div>
{% endblock %}