{% extends 'tvtrail/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ show.show_name }}
{% endblock %}

{% block body_block %}
        <div>
            {% if show %}
                <h1>
                    {{ show.show_name }} <br/>
                </h1>
                <h2>
                    Your Rating: {{ show_status.rating }} <br/>
                    Average Rating: {{ average }} <br/>
                    Total Episodes: {{ ep_count }} <br/>
                </h2>
                {% if show in active_userprofile.watchlist.all %}
                    <p>Followed</p>
                    <a href="{% url 'series_follow' show.show_slug %}">Unfollow</a> <br/>
                {% else %}
                    <p>Not Following</p>
                    <a href="{% url 'series_follow' show.show_slug %}">Follow</a> <br/>
                {% endif %}
                {% if seasons %}
                    <ul>
                        {% for season in seasons %}
                            <li>
                                <h2>
                                Season: {{ season.season_num }}
                                </h2>
                                {% if episodes %}
                                    <ul>
                                        {% for episode in episodes %}
                                            {% if episode.season_num == season %}
                                            <l1>
                                                Episode: {{ episode.episode_num }}<br/>
                                                <a href="{% url 'show_episode' show.show_slug season.season_num episode.episode_num %}">{{ episode.episode_title }}</a><br/>
                                                Watched: 
                                                {% for status in ep_status %}
                                                    {% if status.episode == episode %}

                                                        {{ status.watched }}
                                                    {% endif %}
                                                {% endfor %}
                                                <br/>
                                            </l1>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <strong>
                                        No episodes.
                                    </strong>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>
                        No seasons in this show.
                    </strong>
                {% endif %}
            {% else %}
                <strong>
                    The specified show does not exist in our database.
                </strong>
            {% endif %}
        </div>
{% endblock %}