{% extends 'tvtrail/base.html' %}
{% load staticfiles %}

    {% block title_block %}
        Upcoming
    {% endblock %}

    {% block body_block %}
        <h2>
            Upcoming Episodes
        </h2>

        <div>
            {% if upcoming %}
                <h3>
                    Next 7 Days:
                </h3>
                <ul>
                    {% for date in date_list %}
                        {% for episode in upcoming %}
                            {% if episode.airdate == date %}
                                {{ date }} <br/>
                                <li>
                                    <a href="{% url 'show_tvseries' ep_show|get_item:episode %}">{{ episode.show_id }}</a> <br/>
                                    Season: {{ episode.season_num}} Episode: {{ episode.episode_num }}<br/>
                                    <a href="{% url 'show_episode' ep_show|get_item:episode episode.season_num episode.episode_num %}">{{ episode.episode_title }}</a><br/>
                                    <a href="{% url 'episode_watch' ep_show|get_item:episode episode.season_num episode.episode_num %}">Mark Watched</a> <br/>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
                
            {% else %}
                No upcoming episodes.
            {% endif %}
        </div>

    {% endblock %}
    